#add{
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: aqua;
}
#task{
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(0, 255, 42);
}
li{
    position:relative;
    margin-bottom: 10px;
    padding: 10px;
}
li:hover{
    background-color: blueviolet ;
}
li button{
    position: absolute;
    right: 5px;
    border-radius: 10px;

}
button{
    cursor: pointer;
}
h1{
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    margin: 10px;
}
